.acknowledgments-page-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.acknowledgments-page-body h3 {
  margin: 0 0 2rem;
  text-align: center;
  text-decoration: underline;
}

.acknowledgments-page-body ul#thanks li {
  margin: .75rem 0;
}

.acknowledgments-page-body ul#thanks li a {
  color: #000;
  font-weight: 600;
}