.acknowledgments-page-body h3 {
  margin: 0 0 30px;
  text-align: center;
  text-decoration: underline;
}

.acknowledgments-page-body ul#thanks li {
  margin-bottom: 10px;
}

.acknowledgments-page-body ul#thanks li a {
  color: #000;
  font-weight: 600;
}