.campaigns-chunk .explanation {
  // background-color: #65dda1;
  margin: 30px 15px;
}

.campaigns-chunk .explanation h3.petitions-title {
  margin-bottom: 1rem;
  text-align: center;
}

.campaigns-chunk .explanation .campaign-container {

}


.campaigns-chunk .explanation .campaigns a {
  color: #000;
}

.campaigns-chunk .explanation .campaigns .campaign {
  padding: 0;
}

.campaigns-chunk .explanation .campaigns .campaign.citywide {
  background-color: rgba(255, 179, 71, 0.25);
}

.campaigns-chunk .explanation .campaigns .campaign.statewide {
  background-color: rgba(0, 119, 200, 0.25);
}

.campaigns-chunk .explanation .campaigns .campaign.bronx {
  background-color: rgba(245, 199, 184, 0.25);
}

.campaigns-chunk .explanation .campaigns .campaign.brooklyn {
  background-color: rgba(147, 230, 180, 0.25);
}

.campaigns-chunk .explanation .campaigns .campaign.manhattan {
  background-color: rgba(0, 200, 238, 0.25);
}

.campaigns-chunk .explanation .campaigns .campaign.queens {
  background-color: rgba(243, 234, 161, 0.25);
}

.campaigns-chunk .explanation .campaigns .campaign.staten-island {
  background-color: rgba(218, 197, 208, 0.25);
}


.campaigns-chunk .explanation .campaigns .campaign.signed {
  background-color: rgba(192, 192, 192, 0.5);
}

.campaigns-chunk .explanation .campaigns .campaign .card-body {
  cursor: default;
  font-size: 0;
  margin: 10px 0;
  padding: 0 10px;
}

.campaigns-chunk .explanation .campaigns .campaign .campaign-name {
  border-bottom: 1px solid #666;
  display: inline-block;
  font-size: medium;
  line-height: 26px;
  max-width: 75%;
  overflow: hidden;
  // text-decoration: underline;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width: 767px) and (min-width: 576px) {
  .campaigns-chunk .explanation .campaigns .campaign .campaign-name {
    max-width: 100%;
  }
}

@media (max-width: 399px) {
  .campaigns-chunk .explanation .campaigns .campaign .campaign-name {
    max-width: 70%;
  }
}

@media (max-width: 299px) {
  .campaigns-chunk .explanation .campaigns .campaign .campaign-name {
    max-width: 100%;
  }
}


.campaigns-chunk .explanation .campaigns .campaign .borough {
  border: 1px solid #000;
  float: right;
  font-size: medium;
  padding: 0px 5px;
  text-align: center;
  width: 60px;
}

@media (max-width: 767px) and (min-width: 576px) {
  .campaigns-chunk .explanation .campaigns .campaign .borough {
    display: none;
  }
}

@media (max-width: 299px) {
  .campaigns-chunk .explanation .campaigns .campaign .borough {
    display: none;
  }
}


.campaigns-chunk .explanation .campaigns .campaign .petition-text {
  border-top: 1px solid #ccc;
  padding: 12px 20px;

  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.campaigns-chunk .explanation .campaigns .campaign .petition-text .blockquote {
  display: inline;
  font-size: 16px;
  font-style: italic;
  margin-bottom: 0;

  // max-height: 120px;
  // overflow: hidden;
  // position: relative;
}

.campaigns-chunk .explanation .campaigns .campaign .petition-text div.read-more {
  cursor: pointer;
  display: inline;
  font-style: normal;
  font-weight: 600;
  margin-left: 5px;
}

.campaigns-chunk .explanation .campaigns .campaign .target-details {
  border-top: 1px solid #ccc;
  padding: 12px 20px;

  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}


.campaigns-chunk .explanation .campaigns .campaign .target-details .petition-delivery {
  font-weight: 600;
  text-decoration: underline;
}

.campaigns-chunk .explanation .campaigns .campaign .target-details .targets .target.narrow-display {
  display: none;
}

.campaigns-chunk .explanation .campaigns .campaign .target-details .targets .target.wide-display {
  display: block;
}

@media (max-width: 991px) {
  .campaigns-chunk .explanation .campaigns .campaign .target-details .targets .target.narrow-display {
    display: block;
  }

  .campaigns-chunk .explanation .campaigns .campaign .target-details .targets .target.wide-display {
    display: none;
  }
}

@media (max-width: 575px) {
  .campaigns-chunk .explanation .campaigns .campaign .target-details .targets .target.narrow-display {
    display: none;
  }

  .campaigns-chunk .explanation .campaigns .campaign .target-details .targets .target.wide-display {
    display: block;
  }
}

@media (max-width: 399px) {
  .campaigns-chunk .explanation .campaigns .campaign .target-details .targets .target.narrow-display {
    display: block;
  }

  .campaigns-chunk .explanation .campaigns .campaign .target-details .targets .target.wide-display {
    display: none;
  }
}