/****************************************
            GLOBAL SITE CONTROLS
****************************************/

*,
*:before,
*:after {
  box-sizing: inherit;
}


* {
  /*margin: 0;*/
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  /* mobile firefox too! */
}


div,
div:hover,
ul,
ul:hover,
i,
i:hover,
a,
a:hover,
li,
li:hover{
  list-style-type: none;
  text-decoration: none;
}

body {
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
}

$transalt-orange: #ff4500;


main {
  margin: 2rem 0 0;
}



#home-page-header {
  text-align: center;
}

.sticky-footer {
  position: fixed;
  bottom: 0rem;
  left: 0;
  right: 0;
  background-color: #0dc50d;
  height: 5rem;
  z-index: 1;

  cursor: pointer;

  -webkit-transition: transform 0.8s, background-color 0.5s ease-out;
     -moz-transition: transform 0.8s, background-color 0.5s ease-out;
       -o-transition: transform 0.8s, background-color 0.5s ease-out;
          transition: transform 0.8s, background-color 0.5s ease-out;
}

// .footer.disabled {
//   background-color: #999;
//   cursor: default;
// }

.sticky-footer.extended {
  transform: translate(0rem, -5rem);
}

.sticky-footer.retracted {
  background-color: #f9f9f9;
  cursor: default;
  transform: translate(0rem, 5rem);
}

.sticky-footer .footer-text {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  line-height: 5rem;
}

.sticky-footer .footer-text a {
  color: #fff;
}


.sticky-footer .notification-box {
  background-color: #29b9e7;
  height: 5rem;
}

.sticky-footer .notification-box .notification {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  line-height: 5rem;
}


#home-page-header .container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#home-page-header .container .row {
  margin-top: 1rem;
  margin-bottom: 1rem;
}


#filters .input-group {
  margin: 0 0 2rem;
}

#filters .twitter-typeahead, #filters .tt-input {
  width: 100%;
}

#filters .filter-buttons {
  margin: 1rem 0;
}




#filters .filter-buttons {
  margin: 1rem 0;
}

#filters .filter-buttons .col {
  cursor: pointer;
  font-weight: 600;
  padding: 0.75rem 0 0.375rem;

  // text-align: center;
  // white-space: nowrap;
  // vertical-align: middle;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#filters .filter-buttons.categories {
  border: 1px solid #ff804f;
  border-radius: .25rem;
}

#filters .filter-buttons.categories .col {
  color: #ff804f;
}

body.hasHover #filters .filter-buttons.categories .col:hover {
  background-color: #ff804f;
  color: #fff;
}

#filters .filter-buttons.categories .col.active {
  color: #fff;
  background-color: #ff804f;
}

#filters .filter-buttons.categories .col:not(:last-child) {
  border-right: 1px solid #ff804f;
}

@media (max-width: 575px) {
  #filters .filter-buttons.categories .col.filter-button {
    padding: 0.375rem 0;
  }

  #filters .filter-buttons.categories span.sans {
    display: none;
  }
}


#filters .filter-buttons.locations .col.borough {
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  padding: .75rem;
}

#filters .filter-buttons.locations .col.borough:first-child {
  border-left: 1px solid #999;
  border-radius: .25rem 0 0 .25rem;
}

#filters .filter-buttons.locations .col.borough:last-child {
  border-right: 1px solid #999;
  border-radius: 0 .25rem .25rem 0;
}

#filters .filter-buttons.locations .col.borough:not(:last-child) {
  border-right: 1px solid #999;
}

body.hasHover #filters .filter-buttons.locations .col.borough:hover {
  color: #fff;
}

#filters .filter-buttons.locations .col.borough.active {
  color: #fff;
}

#filters .filter-buttons.locations .col.citywide {
  background-color: rgba(255, 179, 71, 0.25);
  background-color: transparent;
  color: rgb(225, 149, 41);
}

body.hasHover #filters .filter-buttons.locations .col.citywide:hover {
  background-color: rgba(255, 179, 71, 1);
}


#filters .filter-buttons.locations .col.citywide.active {
  background-color: rgba(255, 179, 71, 1);
}

#filters .filter-buttons.locations .col.statewide {
  background-color: rgba(0, 119, 200, 0.25);
  background-color: transparent;
  color: rgb(0, 89, 170);
}

body.hasHover #filters .filter-buttons.locations .col.statewide:hover {
  background-color: rgba(0, 119, 200, 1);
}

#filters .filter-buttons.locations .col.statewide.active {
  background-color: rgba(0, 119, 200, 1);
}

#filters .filter-buttons.locations .col.bronx {
  background-color: rgba(245, 199, 184, 0.25);
  background-color: transparent;
  color: rgb(215, 139, 124);
}

body.hasHover #filters .filter-buttons.locations .col.bronx:hover {
  background-color: rgba(245, 199, 184, 1);
}

#filters .filter-buttons.locations .col.bronx.active {
  background-color: rgba(245, 199, 184, 1);
}

#filters .filter-buttons.locations .col.brooklyn {
  background-color: rgba(147, 230, 180, 0.25);
  background-color: transparent;
  color: rgb(117, 200, 150);
}

body.hasHover #filters .filter-buttons.locations .col.brooklyn:hover {
  background-color: rgba(147, 230, 180, 1.0);
}

#filters .filter-buttons.locations .col.brooklyn.active {
  background-color: rgba(147, 230, 180, 1.0);
}

#filters .filter-buttons.locations .col.manhattan {
  background-color: rgba(0, 200, 238, 0.25);
  background-color: transparent;
  color: rgb(0, 170, 208);
}

body.hasHover #filters .filter-buttons.locations .col.manhattan:hover {
  background-color: rgba(0, 200, 238, 1.0);
}

#filters .filter-buttons.locations .col.manhattan.active {
  background-color: rgba(0, 200, 238, 1.0);
}

#filters .filter-buttons.locations .col.queens {
  background-color: rgba(243, 234, 161, 0.25);
  background-color: transparent;
  color: rgb(153, 144, 71);
}

body.hasHover #filters .filter-buttons.locations .col.queens:hover {
  background-color: rgba(223, 214, 141, 1.0);
}

#filters .filter-buttons.locations .col.queens.active {
  background-color: rgba(223, 214, 141, 1.0);
}

#filters .filter-buttons.locations .col.staten-island {
  background-color: rgba(218, 197, 208, 0.25);
  background-color: transparent;
  color: rgb(158, 137, 148);
}

body.hasHover #filters .filter-buttons.locations .col.staten-island:hover {
  background-color: rgba(218, 197, 208, 1.0);
}

#filters .filter-buttons.locations .col.staten-island.active {
  background-color: rgba(218, 197, 208, 1.0);
}

@media (max-width: 575px) {
  #filters .filter-buttons.locations .col.borough {
    padding: 0.375rem 0;
  }
}



.sign-all button {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

  margin-bottom: 1rem;
}

@media (max-width: 575px) {
  .sign-all button {
    margin-bottom: 0;
  }
}


.view-style-controls {
  width: 100%
}

.view-style-controls .btn-group {
  width: 100%
}

.view-style-controls .btn {
  width: 50%
}

@media (max-width: 575px) {
  .view-style-row {
    display: none;
  }
}


.results-header p {
  padding: 0 1rem;
  margin: 1rem 0;
  text-align: center;
  font-size: 1.5rem;
}

.results-header p a.new-campaign {
  font-weight: bold;
}

.results-header p span.search-term {
  font-weight: bold;
}



.all-campaigns-body {
  background-color: #f3f2f1;
}

.all-campaigns-body .campaign-list-container .campaign-list {
  margin: 1rem 0 0;
  padding: 0 0 1rem;
}

.all-campaigns-body .campaign-list-container .campaign-list.empty {
  border-bottom: 2px solid #666;
  padding: 0;
}

.all-campaigns-body .campaign-list-container .campaign-list.matching {
  border-bottom: 2px solid #666;
}

.all-campaigns-body .campaign-list-container .campaign-list.not-matching .row-item .card .campaign {
  background-color: #e9e9e9;
}

.all-campaigns-body .campaign-list-container .campaign-list.not-matching .row-item .card .campaign ul.campaign-details li.list-group-item {
  background-color: #e9e9e9;
}

.all-campaigns-body .campaign-list-container .campaign-list.not-matching .row-item .card .campaign ul.campaign-details li.success-list-item {
  color: #000;
}

.all-campaigns-body .campaign-list-container .campaign-list .row-item.list-row-item {
  flex: 0 0 100%;
  max-width: 100%;
  width: 100%;
}


@media (min-width: 768px) {

  .all-campaigns-body .campaign-list-container .campaign-list .row-item.list-row-item .card .campaign .card-top {
    display: flex;
    justify-content: space-between;
  }

  .all-campaigns-body .campaign-list-container .campaign-list .row-item.list-row-item .card .campaign .card-top .card-body {
    padding: 0.75rem 1.25rem;
    width: 50%;
  }

  .all-campaigns-body .campaign-list-container .campaign-list .row-item.list-row-item .card .campaign .card-top .card-body h1 {
    margin-bottom: 0;
  }

  .all-campaigns-body .campaign-list-container .campaign-list .row-item.list-row-item .card .campaign .list-group-flush {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .all-campaigns-body .campaign-list-container .campaign-list .row-item.list-row-item .card .campaign .list-group-flush .list-group-item {
    padding: 0.75rem 1.25rem;
  }

  .all-campaigns-body .campaign-list-container .campaign-list .row-item.list-row-item .card .campaign .list-group-flush .list-group-item.no-padding {
    padding: 0;
  }

  .all-campaigns-body .campaign-list-container .campaign-list .row-item.list-row-item .card .campaign .list-group-flush .list-group-item.success-list-item {
    width: 100%;
  }

  .all-campaigns-body .campaign-list-container .campaign-list .row-item.list-row-item .card .campaign .list-group-flush .list-group-item.description-list-item {
    margin-bottom: 0;
    width: 100%;
  }

  .all-campaigns-body .campaign-list-container .campaign-list .row-item.list-row-item .card .campaign .list-group-flush .list-group-item.description-list-item .grid-view {
    display: none;
  }

  .all-campaigns-body .campaign-list-container .campaign-list .row-item.list-row-item .card .campaign .list-group-flush .list-group-item.description-list-item .list-view {
    display: block;
  }

  .all-campaigns-body .campaign-list-container .campaign-list .row-item.list-row-item .card .campaign .list-group-flush .list-group-item.signatures-list-item {
    border-left:   0;
    border-right:  1px solid rgba(0,0,0,0.125);
    border-top:    0;
    border-bottom: 0;
    display: inline-block !important;
    line-height: 100%;
    vertical-align: middle;
    width: 30%;
  }

  .all-campaigns-body .campaign-list-container .campaign-list .row-item.list-row-item .card .campaign .list-group-flush .list-group-item.campaign-starter-list-item {
    border-left:   0;
    border-right:  1px solid rgba(0,0,0,0.125);
    border-top:    0;
    border-bottom: 0;
    display: inline-block !important;
    line-height: 100%;
    margin: 0rem;
    vertical-align: middle;
    width: 55%;
  }

  .all-campaigns-body .campaign-list-container .campaign-list .row-item.list-row-item .card .campaign .list-group-flush .list-group-item.social-media-list-item {
    border-left:   0;
    border-right:  0;
    border-top:    0;
    border-bottom: 0;
    display: inline-block !important;
    line-height: 100%;
    margin: 0rem;
    vertical-align: middle;
    width: 15%;
  }

  .all-campaigns-body .campaign-list-container .campaign-list .row-item.list-row-item .card .campaign .list-group-flush .list-group-item.social-media-list-item .social-media-items {
    text-align: center;
  }

  .all-campaigns-body .campaign-list-container .campaign-list .row-item.list-row-item .card .campaign .list-group-flush .list-group-item.signing-list-item {
    width: 100%;
  }

}


.all-campaigns-body .campaign-list-container .campaign-list .row-item .card {
  margin: 0 0 1rem;
}

.all-campaigns-body .campaign-list-container .campaign-list .row-item .card .campaign.already-signed {
  color: #999;
}

.all-campaigns-body .campaign-list-container .campaign-list .row-item .card .campaign.already-signed .campaign-details .campaign-description a {
  // color: rgba(0, 123, 255, 0.5);
}

.all-campaigns-body .campaign-list-container .campaign-list .row-item .card .campaign .campaign-details .col {
  font-size: 1.125rem;
}

.all-campaigns-body .campaign-list-container .campaign-list .row-item .card .campaign .campaign-details .col.sign {
  cursor: pointer;
}

.all-campaigns-body .campaign-list-container .campaign-list .row-item .card .campaign .campaign-details .col.to-be-signed {
  cursor: pointer;
}

.all-campaigns-body .campaign-list-container .campaign-list .row-item .card .campaign .campaign-details .col.citywide {
  background-color: rgba(255, 179, 71, 0.25);
}

.all-campaigns-body .campaign-list-container .campaign-list .row-item .card .campaign .campaign-details .col.statewide {
  background-color: rgba(0, 119, 200, 0.25);
}

.all-campaigns-body .campaign-list-container .campaign-list .row-item .card .campaign .campaign-details .col.bronx {
  background-color: rgba(245, 199, 184, 0.25);
}

.all-campaigns-body .campaign-list-container .campaign-list .row-item .card .campaign .campaign-details .col.brooklyn {
  background-color: rgba(147, 230, 180, 0.25);
}

.all-campaigns-body .campaign-list-container .campaign-list .row-item .card .campaign .campaign-details .col.manhattan {
  background-color: rgba(0, 200, 238, 0.25);
}

.all-campaigns-body .campaign-list-container .campaign-list .row-item .card .campaign .campaign-details .col.queens {
  background-color: rgba(243, 234, 161, 0.25);
}

.all-campaigns-body .campaign-list-container .campaign-list .row-item .card .campaign .campaign-details .col.staten-island {
  background-color: rgba(218, 197, 208, 0.25);
}


.all-campaigns-body .campaign-list-container .campaign-list .row-item .card .campaign .campaign-details .col.sign.citywide {
  background-color: rgba(255, 179, 71, 0.5);
}

.all-campaigns-body .campaign-list-container .campaign-list .row-item .card .campaign .campaign-details .col.sign.statewide {
  background-color: rgba(0, 119, 200, 0.5);
}

.all-campaigns-body .campaign-list-container .campaign-list .row-item .card .campaign .campaign-details .col.sign.bronx {
  background-color: rgba(245, 199, 184, 0.5);
}

.all-campaigns-body .campaign-list-container .campaign-list .row-item .card .campaign .campaign-details .col.sign.brooklyn {
  background-color: rgba(147, 230, 180, 0.5);
}

.all-campaigns-body .campaign-list-container .campaign-list .row-item .card .campaign .campaign-details .col.sign.manhattan {
  background-color: rgba(0, 200, 238, 0.5);
}

.all-campaigns-body .campaign-list-container .campaign-list .row-item .card .campaign .campaign-details .col.sign.queens {
  background-color: rgba(243, 234, 161, 0.5);
}

.all-campaigns-body .campaign-list-container .campaign-list .row-item .card .campaign .campaign-details .col.sign.staten-island {
  background-color: rgba(218, 197, 208, 0.5);
}


.all-campaigns-body .campaign-list-container .campaign-list .row-item .card .campaign .campaign-details .col.to-be-signed.citywide {
  background-color: rgba(255, 179, 71, 1.0);
}

.all-campaigns-body .campaign-list-container .campaign-list .row-item .card .campaign .campaign-details .col.to-be-signed.statewide {
  background-color: rgba(0, 119, 200, 1.0);
}

.all-campaigns-body .campaign-list-container .campaign-list .row-item .card .campaign .campaign-details .col.to-be-signed.bronx {
  background-color: rgba(245, 199, 184, 1.0);
}

.all-campaigns-body .campaign-list-container .campaign-list .row-item .card .campaign .campaign-details .col.to-be-signed.brooklyn {
  background-color: rgba(147, 230, 180, 1.0);
}

.all-campaigns-body .campaign-list-container .campaign-list .row-item .card .campaign .campaign-details .col.to-be-signed.manhattan {
  background-color: rgba(0, 200, 238, 1.0);
}

.all-campaigns-body .campaign-list-container .campaign-list .row-item .card .campaign .campaign-details .col.to-be-signed.queens {
  background-color: rgba(243, 234, 161, 1.0);
}

.all-campaigns-body .campaign-list-container .campaign-list .row-item .card .campaign .campaign-details .col.to-be-signed.staten-island {
  background-color: rgba(218, 197, 208, 1.0);
}


.all-campaigns-body .campaign-list-container .campaign-list .row-item .card .campaign.already-signed .campaign-details .col.already-signed {
  background-color: #ccc;
}



/*.all-campaigns-body .campaign-list-container .campaign-list .row-item .card .campaign .list-group-flush .campaign-details div.sign {
  background-color: #000;
  color: #fff;
  font-size: 13pt;
}*/

.all-campaigns-body .campaign-list-container .campaign-list .row-item .card .campaign .list-group-flush {
  margin: 0;
}

.all-campaigns-body .campaign-list-container .campaign-list .row-item .card .campaign .list-group-flush .campaign-details span.borough {
  color: #212529;
  font-weight: 300;
}



.all-campaigns-body .campaign-list-container .campaign-list .row-item .card .campaign .list-group-flush .campaign-name {
  /*text-align: center;*/
}

.all-campaigns-body .campaign-list-container .campaign-list .row-item .card .campaign .list-group-flush .campaign-details {
  margin: 0;
}

.all-campaigns-body .campaign-list-container .campaign-list .row-item .card .campaign .list-group-flush .campaign-details p {
  margin: 0;
}


.all-campaigns-body .campaign-list-container .campaign-list .row-item .card .campaign .list-group-flush li.success-list-item {
  background-color: #e9632d;
  color: #fff;
}

.all-campaigns-body .campaign-list-container .campaign-list .row-item .card .campaign .list-group-flush li.campaign-starter-list-item .campaign-link .started-by-text {
  color: #000;
}

.all-campaigns-body .campaign-list-container .campaign-list .row-item .card .campaign .list-group-flush li.campaign-starter-list-item .campaign-link span.starter {
  font-weight: bold;
}

.all-campaigns-body .campaign-list-container .campaign-list .row-item .card .campaign .list-group-flush li.social-media-list-item .social-media-items a.social-media-share-link i {
  vertical-align: -webkit-baseline-middle;
}

.all-campaigns-body .campaign-list-container .campaign-list .row-item .card .campaign .list-group-flush li.social-media-list-item .social-media-items a.social-media-share-link i.fa.fa-facebook-square {
  color: #29487d;
}

.all-campaigns-body .campaign-list-container .campaign-list .row-item .card .campaign .list-group-flush li.social-media-list-item .social-media-items a.social-media-share-link i.fa.fa-twitter-square {
  color: #1da1f2;
}


.all-campaigns-body .campaign-list-container .campaign-list .row-item .card .campaign .list-group-flush li.description-list-item.d-block {
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

.all-campaigns-body .campaign-list-container .campaign-list .row-item .card .campaign .list-group-flush li.description-list-item .grid-view {
  display: block;
}

.all-campaigns-body .campaign-list-container .campaign-list .row-item .card .campaign .list-group-flush li.description-list-item .list-view {
  display: none;
}


.all-campaigns-body .campaign-list-container .campaign-list .card .campaign li.signatures-list-item .progress {
  margin-top: 0.5rem;
}

.all-campaigns-body .campaign-list-container .campaign-list .card .campaign .card-text:last-child {
  margin: 0 0 0.375rem;
}

@media (min-width: 576px) {
  .all-campaigns-body .campaign-list-container .campaign-list .card .campaign .card-text:last-child {
    margin: 0;
  }
}




span.sans {
  display: block;
  // font-family: 'Open Sans', sans-serif;
}

li.list-group-item.no-padding {
  padding: 0;
}

li.list-group-item.no-padding div.row {
  margin: 0;
  text-align: center;
}

li.list-group-item.no-padding .col {
  padding: 0.75rem 1.25rem;
}

li.list-group-item.no-padding .col:first-child {
  border-top:    0;
  border-bottom: 0;
  border-left:   0;
  border-right:  1px solid #ddd;
}



span.twitter-typeahead .tt-menu {
  cursor: pointer;
}

.dropdown-menu, span.twitter-typeahead .tt-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.25rem 0;
  margin: .125rem 0 0;
  font-size: 1rem;
  color: #373a3c;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  width: 100%;}

span.twitter-typeahead .tt-suggestion {
  display: block;
  width: 100%;
  padding: .125rem 1.25rem;
  clear: both;
  font-weight: normal;
  line-height: 1.5;
  color: #373a3c;
  text-align: inherit;
  white-space: nowrap;
  background: none;
  border: 0;
  text-overflow: ellipsis;
  overflow: hidden;}
span.twitter-typeahead .tt-suggestion strong.tt-highlight {
  /*font-weight: normal*/
};
span.twitter-typeahead .tt-suggestion:focus, .dropdown-item:hover, span.twitter-typeahead .tt-suggestion:hover {
    color: #2b2d2f;
    text-decoration: none;
    background-color: #f5f5f5; }
span.twitter-typeahead .active.tt-suggestion, span.twitter-typeahead .tt-suggestion.tt-cursor, span.twitter-typeahead .active.tt-suggestion:focus, span.twitter-typeahead .tt-suggestion.tt-cursor:focus, span.twitter-typeahead .active.tt-suggestion:hover, span.twitter-typeahead .tt-suggestion.tt-cursor:hover {
    color: #fff;
    text-decoration: none;
    background-color: #0275d8;
    outline: 0; }
span.twitter-typeahead .disabled.tt-suggestion, span.twitter-typeahead .disabled.tt-suggestion:focus, span.twitter-typeahead .disabled.tt-suggestion:hover {
    color: #818a91; }
span.twitter-typeahead .disabled.tt-suggestion:focus, span.twitter-typeahead .disabled.tt-suggestion:hover {
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent;
    background-image: none;
    filter: "progid:DXImageTransform.Microsoft.gradient(enabled = false)"; }
span.twitter-typeahead {
  background-color: #fff;
  width: 100%; }
  .input-group span.twitter-typeahead {
    display: block !important; }
    .input-group span.twitter-typeahead .tt-menu {
      top: 2.375rem !important; }
span.twitter-typeahead .tt-header {
  /*padding: .125rem 1.25rem;*/
  font-weight: 600;
  margin: 0 1.25rem .25rem 1.25rem;
  padding: .25rem 0;
  border-bottom: 1px solid #ccc;
}

@media (max-width: 480px) {
  span.twitter-typeahead .tt-suggestion {
    text-overflow: initial;
    white-space: normal;
    word-wrap: break-word;
  }
}






