/****************************************
            GLOBAL SITE CONTROLS
****************************************/

*,
*:before,
*:after {
  box-sizing: inherit;
}


* {
  /*margin: 0;*/
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  /* mobile firefox too! */
}


div,
div:hover,
ul,
ul:hover,
i,
i:hover,
a,
a:hover,
li,
li:hover{
  list-style-type: none;
  text-decoration: none;
}

html {
  // height: 100%;
  // overflow: hidden;
}

body {
  font-family: 'Montserrat', sans-serif;
  // height: 100%;
  // overflow: auto;
}

$transalt-orange: #ff4500;


main {
  margin: 30px 0 0;
}

/*#main_container {
  width: 768px;
}*/

#home-page-header {
  text-align: center;
}

.sticky-footer {
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
  background-color: #0dc50d;
  height: 75px;
  z-index: 1;

  cursor: pointer;

  -webkit-transition: transform 0.8s, background-color 0.5s ease-out;
     -moz-transition: transform 0.8s, background-color 0.5s ease-out;
       -o-transition: transform 0.8s, background-color 0.5s ease-out;
          transition: transform 0.8s, background-color 0.5s ease-out;
}

// .footer.disabled {
//   background-color: #999;
//   cursor: default;
// }

.sticky-footer.extended {
  transform: translate(0px, -75px);
}

.sticky-footer.retracted {
  background-color: #fff;
  cursor: default;
  transform: translate(0px, 75px);
}

.sticky-footer .footer-text {
  color: #fff;
  font-size: 18pt;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  line-height: 75px;
}

.sticky-footer .footer-text a {
  color: #fff;
}


.sticky-footer .notification-box {
  background-color: #29b9e7;
  height: 75px;
}

.sticky-footer .notification-box .notification {
  color: #fff;
  font-size: 18pt;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  line-height: 75px;
}


#home-page-header .container {
  margin-top: 30px;
  margin-bottom: 30px;
}

#home-page-header .container .row {
  margin-top: 15px;
  margin-bottom: 15px;
}


#filters .input-group {
  margin: 0 0 30px;
}

#filters .twitter-typeahead, #filters .tt-input {
  width: 100%;
}

#filters .filter-buttons {
  margin: 15px 0;
}




#filters .filter-buttons {
  margin: 15px 0;
}

#filters .filter-buttons .col {
  cursor: pointer;
  font-weight: 600;
  padding: 10px 0 5px;

  // text-align: center;
  // white-space: nowrap;
  // vertical-align: middle;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#filters .filter-buttons.categories {
  border: 1px solid #ff804f;
  border-radius: .25rem;
}

#filters .filter-buttons.categories .col {
  color: #ff804f;
}

body.hasHover #filters .filter-buttons.categories .col:hover {
  background-color: #ff804f;
  color: #fff;
}

#filters .filter-buttons.categories .col.active {
  color: #fff;
  background-color: #ff804f;
}

#filters .filter-buttons.categories .col:not(:last-child) {
  border-right: 1px solid #ff804f;
}

@media (max-width: 575px) {
  #filters .filter-buttons.categories .col.filter-button {
    padding: 5px 0;
  }

  #filters .filter-buttons.categories span.sans {
    display: none;
  }
}


#filters .filter-buttons.locations .col.borough {
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  padding: 10px;
}

#filters .filter-buttons.locations .col.borough:first-child {
  border-left: 1px solid #999;
  border-radius: .25rem 0 0 .25rem;
}

#filters .filter-buttons.locations .col.borough:last-child {
  border-right: 1px solid #999;
  border-radius: 0 .25rem .25rem 0;
}

#filters .filter-buttons.locations .col.borough:not(:last-child) {
  border-right: 1px solid #999;
}

body.hasHover #filters .filter-buttons.locations .col.borough:hover {
  color: #fff;
}

#filters .filter-buttons.locations .col.borough.active {
  color: #fff;
}

#filters .filter-buttons.locations .col.citywide {
  background-color: rgba(255, 179, 71, 0.25);
  background-color: transparent;
  color: rgb(225, 149, 41);
}

body.hasHover #filters .filter-buttons.locations .col.citywide:hover {
  background-color: rgba(255, 179, 71, 1);
}


#filters .filter-buttons.locations .col.citywide.active {
  background-color: rgba(255, 179, 71, 1);
}

#filters .filter-buttons.locations .col.statewide {
  background-color: rgba(0, 119, 200, 0.25);
  background-color: transparent;
  color: rgb(0, 89, 170);
}

body.hasHover #filters .filter-buttons.locations .col.statewide:hover {
  background-color: rgba(0, 119, 200, 1);
}

#filters .filter-buttons.locations .col.statewide.active {
  background-color: rgba(0, 119, 200, 1);
}

#filters .filter-buttons.locations .col.bronx {
  background-color: rgba(245, 199, 184, 0.25);
  background-color: transparent;
  color: rgb(215, 139, 124);
}

body.hasHover #filters .filter-buttons.locations .col.bronx:hover {
  background-color: rgba(245, 199, 184, 1);
}

#filters .filter-buttons.locations .col.bronx.active {
  background-color: rgba(245, 199, 184, 1);
}

#filters .filter-buttons.locations .col.brooklyn {
  background-color: rgba(147, 230, 180, 0.25);
  background-color: transparent;
  color: rgb(117, 200, 150);
}

body.hasHover #filters .filter-buttons.locations .col.brooklyn:hover {
  background-color: rgba(147, 230, 180, 1.0);
}

#filters .filter-buttons.locations .col.brooklyn.active {
  background-color: rgba(147, 230, 180, 1.0);
}

#filters .filter-buttons.locations .col.manhattan {
  background-color: rgba(0, 200, 238, 0.25);
  background-color: transparent;
  color: rgb(0, 170, 208);
}

body.hasHover #filters .filter-buttons.locations .col.manhattan:hover {
  background-color: rgba(0, 200, 238, 1.0);
}

#filters .filter-buttons.locations .col.manhattan.active {
  background-color: rgba(0, 200, 238, 1.0);
}

#filters .filter-buttons.locations .col.queens {
  background-color: rgba(243, 234, 161, 0.25);
  background-color: transparent;
  color: rgb(153, 144, 71);
}

body.hasHover #filters .filter-buttons.locations .col.queens:hover {
  background-color: rgba(223, 214, 141, 1.0);
}

#filters .filter-buttons.locations .col.queens.active {
  background-color: rgba(223, 214, 141, 1.0);
}

#filters .filter-buttons.locations .col.staten-island {
  background-color: rgba(218, 197, 208, 0.25);
  background-color: transparent;
  color: rgb(158, 137, 148);
}

body.hasHover #filters .filter-buttons.locations .col.staten-island:hover {
  background-color: rgba(218, 197, 208, 1.0);
}

#filters .filter-buttons.locations .col.staten-island.active {
  background-color: rgba(218, 197, 208, 1.0);
}

@media (max-width: 575px) {
  #filters .filter-buttons.locations .col.borough {
    padding: 5px 0;
  }
}



.sign-all button {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.results-header p {
  padding: 0 15px;
  margin: 1rem 0;
  text-align: center;
  font-size: 16pt;
}

.results-header p span.search-term {
  font-weight: bold;
}

/*.card {
  border: 2px solid $transalt-orange;
  border-radius: 10px;
  margin: 10px;
}*/

/*.card {
  border: none;
  margin-bottom: 15px;
}
*/
.card {
  margin: 0 0 1rem;
}


.card .campaign.already-signed {
  color: #999;
}

.card .campaign.already-signed a {
  color: rgba(0, 123, 255, 0.5);
}


.card .campaign .campaign-details div.col.sign {
  cursor: pointer;
}

.card .campaign .campaign-details div.col.to-be-signed {
  cursor: pointer;
}

.card .campaign .campaign-details div.col.citywide {
  background-color: rgba(255, 179, 71, 0.25);
}

.card .campaign .campaign-details div.col.statewide {
  background-color: rgba(0, 119, 200, 0.25);
}

.card .campaign .campaign-details div.col.bronx {
  background-color: rgba(245, 199, 184, 0.25);
}

.card .campaign .campaign-details div.col.brooklyn {
  background-color: rgba(147, 230, 180, 0.25);
}

.card .campaign .campaign-details div.col.manhattan {
  background-color: rgba(0, 200, 238, 0.25);
}

.card .campaign .campaign-details div.col.queens {
  background-color: rgba(243, 234, 161, 0.25);
}

.card .campaign .campaign-details div.col.staten-island {
  background-color: rgba(218, 197, 208, 0.25);
}


.card .campaign .campaign-details div.col.sign.citywide {
  background-color: rgba(255, 179, 71, 0.5);
}

.card .campaign .campaign-details div.col.sign.statewide {
  background-color: rgba(0, 119, 200, 0.5);
}

.card .campaign .campaign-details div.col.sign.bronx {
  background-color: rgba(245, 199, 184, 0.5);
}

.card .campaign .campaign-details div.col.sign.brooklyn {
  background-color: rgba(147, 230, 180, 0.5);
}

.card .campaign .campaign-details div.col.sign.manhattan {
  background-color: rgba(0, 200, 238, 0.5);
}

.card .campaign .campaign-details div.col.sign.queens {
  background-color: rgba(243, 234, 161, 0.5);
}

.card .campaign .campaign-details div.col.sign.staten-island {
  background-color: rgba(218, 197, 208, 0.5);
}


.card .campaign .campaign-details div.col.to-be-signed.citywide {
  background-color: rgba(255, 179, 71, 1.0);
}

.card .campaign .campaign-details div.col.to-be-signed.statewide {
  background-color: rgba(0, 119, 200, 1.0);
}

.card .campaign .campaign-details div.col.to-be-signed.bronx {
  background-color: rgba(245, 199, 184, 1.0);
}

.card .campaign .campaign-details div.col.to-be-signed.brooklyn {
  background-color: rgba(147, 230, 180, 1.0);
}

.card .campaign .campaign-details div.col.to-be-signed.manhattan {
  background-color: rgba(0, 200, 238, 1.0);
}

.card .campaign .campaign-details div.col.to-be-signed.queens {
  background-color: rgba(243, 234, 161, 1.0);
}

.card .campaign .campaign-details div.col.to-be-signed.staten-island {
  background-color: rgba(218, 197, 208, 1.0);
}


.card .campaign.already-signed .campaign-details div.col.already-signed {
  background-color: #ccc;
}



/*.card .campaign .campaign-details div.sign {
  background-color: #000;
  color: #fff;
  font-size: 13pt;
}*/

.card .campaign .campaign-details span.borough {
  color: #212529;
  font-weight: 300;
  font-size: 14pt;
}



.card .campaign .campaign-name {
  /*text-align: center;*/
}

.card .campaign .campaign-details {
  margin: 0;
}

.card .campaign .campaign-details p {
  margin: 0;
}


.card .campaign li.success-list-item {
  background-color: #e9632d;
  color: #fff;
}


.card .campaign li.campaign-starter-list-item span.starter {
  font-weight: bold;
}

// .card .campaign li.social-media-list-item i {
//   position: relative;
//   /* Adjust these values accordingly */
//   top: 5px;
//   left: 5px;
// }

.card .campaign li.social-media-list-item i.fa.fa-facebook-square {
  color: #29487d;
}

.card .campaign li.social-media-list-item i.fa.fa-twitter-square {
  color: #1da1f2;
}


.card .campaign li.description-list-item.d-block {
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}


.card .campaign li.signatures-list-item .progress {
  margin-top: 0.5rem;
}

.card .campaign .card-text:last-child {
  margin: 0 0 5px;
}

@media (min-width: 576px) {
  .card .campaign .card-text:last-child {
    margin: 0;
  }
}


.all-campaigns-body {
  background-color: #f3f2f1;
}

.campaign-list {
  margin: 20px 0 35px;
  padding: 0;
}

.campaign-list.matching {
  border-bottom: 2px solid #333;
}

.campaign-list.not-matching .campaign {
  background-color: #e9e9e9;
}

.campaign-list.not-matching .campaign ul.campaign-details li.list-group-item {
  background-color: #e9e9e9;
}

.campaign-list.not-matching .campaign ul.campaign-details li.success-list-item {
  color: #000;
}




span.sans {
  display: block;
  // font-family: 'Open Sans', sans-serif;
}

li.list-group-item.no-padding {
  padding: 0;
}

li.list-group-item.no-padding div.row {
  margin: 0;
  text-align: center;
}

li.list-group-item.no-padding div.col {
  padding: 0.75rem 1.25rem;
}

li.list-group-item.no-padding div.col:first-child {
  border-right: 1px solid #ddd;
}



span.twitter-typeahead .tt-menu {
  cursor: pointer;
}

.dropdown-menu, span.twitter-typeahead .tt-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 1rem;
  color: #373a3c;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  width: 100%;}

span.twitter-typeahead .tt-suggestion {
  display: block;
  width: 100%;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.5;
  color: #373a3c;
  text-align: inherit;
  white-space: nowrap;
  background: none;
  border: 0;
  text-overflow: ellipsis;
  overflow: hidden;}
span.twitter-typeahead .tt-suggestion strong.tt-highlight {
  /*font-weight: normal*/
};
span.twitter-typeahead .tt-suggestion:focus, .dropdown-item:hover, span.twitter-typeahead .tt-suggestion:hover {
    color: #2b2d2f;
    text-decoration: none;
    background-color: #f5f5f5; }
span.twitter-typeahead .active.tt-suggestion, span.twitter-typeahead .tt-suggestion.tt-cursor, span.twitter-typeahead .active.tt-suggestion:focus, span.twitter-typeahead .tt-suggestion.tt-cursor:focus, span.twitter-typeahead .active.tt-suggestion:hover, span.twitter-typeahead .tt-suggestion.tt-cursor:hover {
    color: #fff;
    text-decoration: none;
    background-color: #0275d8;
    outline: 0; }
span.twitter-typeahead .disabled.tt-suggestion, span.twitter-typeahead .disabled.tt-suggestion:focus, span.twitter-typeahead .disabled.tt-suggestion:hover {
    color: #818a91; }
span.twitter-typeahead .disabled.tt-suggestion:focus, span.twitter-typeahead .disabled.tt-suggestion:hover {
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent;
    background-image: none;
    filter: "progid:DXImageTransform.Microsoft.gradient(enabled = false)"; }
span.twitter-typeahead {
  background-color: #fff;
  width: 100%; }
  .input-group span.twitter-typeahead {
    display: block !important; }
    .input-group span.twitter-typeahead .tt-menu {
      top: 2.375rem !important; }
span.twitter-typeahead .tt-header {
  /*padding: 3px 20px;*/
  font-weight: 600;
  margin: 0 20px 5px 20px;
  padding: 3px 0;
  border-bottom: 1px solid #ccc;
}

@media (max-width: 480px) {
  span.twitter-typeahead .tt-suggestion {
    text-overflow: initial;
    white-space: normal;
    word-wrap: break-word;
  }
}






