/****************************************
            GLOBAL SITE CONTROLS
****************************************/

*,
*:before,
*:after {
  box-sizing: inherit;
}


* {
  /*margin: 0;*/
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  /* mobile firefox too! */
}


div,
div:hover,
ul,
ul:hover,
i,
i:hover,
a,
a:hover,
li,
li:hover{
  list-style-type: none;
  text-decoration: none;
}

html {
  // height: 100%;
  // overflow: hidden;
}

body {
  font-family: 'Montserrat', sans-serif;
  // height: 100%;
  // overflow: auto;
}

$transalt-orange: #ff4500;



/*#main_container {
  width: 768px;
}*/

#page_header {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  background-color: #fff;
}

#page_header h1.title {
  color: green;
  font-size: 20px;
}

#page_header .container .row {
  margin: 15px 0;
}

.sticky-footer {
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
  background-color: #0dc50d;
  height: 75px;
  z-index: 1;

  cursor: pointer;

  -webkit-transition: transform 0.8s, background-color 0.5s ease-out;
     -moz-transition: transform 0.8s, background-color 0.5s ease-out;
       -o-transition: transform 0.8s, background-color 0.5s ease-out;
          transition: transform 0.8s, background-color 0.5s ease-out;
}

// .footer.disabled {
//   background-color: #999;
//   cursor: default;
// }

.sticky-footer.extended {
  transform: translate(0px, -75px);
}

.sticky-footer.retracted {
  background-color: #fff;
  cursor: default;
  transform: translate(0px, 75px);
}

.footer-text {
  color: #fff;
  font-size: 18pt;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  line-height: 75px;
}

.footer-text a {
  color: #fff;
}


.notification-box {
  background-color: #29b9e7;
  height: 75px;
}

.notification-box .notification {
  color: #fff;
  font-size: 18pt;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  line-height: 75px;
}


.static-footer {
  background-color: #fff;
  padding: 30px 30px 30px;
  text-align: center;

  -webkit-transition: padding 0.8s ease-out;
     -moz-transition: padding 0.8s ease-out;
       -o-transition: padding 0.8s ease-out;
          transition: padding 0.8s ease-out;
}

.static-footer.with-padding {
  padding-bottom: 150px;
}



.static-footer > * {
  display: inline-block;
}

.static-footer .social-media-links {
  // left: 10px;
  top: 5px;
  padding: 0 10px;
  position: relative;
}

.static-footer .social-media-links i {
  padding: 0px 3px;
}

.static-footer .social-media-links i.fa-twitter {
  color: #1da1f2;
}

.static-footer .social-media-links i.fa-github {
  color: #444;
}

.static-footer .social-media-links i.fa-linkedin {
  color: #007bb6
}

.static-footer .social-media-links i.fa-instagram {
  color: #000;
}


#filters {
  margin: 30px 0px;
}

#filters .input-group {
  margin: 15px 0;
}

#filters .twitter-typeahead, #filters .tt-input {
  width: 100%;
}

#filters .filter-buttons {
  margin: 15px 0;
}

@media (max-width: 575px) {
  #filters .filter-buttons {
    display: none;
  }
}

#filters .filter-buttons .row {
  margin-top: 15px;
  margin-bottom: 15px;
}

#filters .filter-buttons li {
  color: #fff;

  display: inline-block;
  text-align: center;
}

#filters .filter-buttons li div.search-button {
  padding: 5px;
  cursor: pointer;

  background-color: transparent;
  border: 1px solid #ff804f;
  border-radius: .25rem;
  color: #ff804f;

  font-weight: 400;
  font-size: 1rem;

  text-align: center;
  white-space: nowrap;
  vertical-align: middle;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#filters .filter-buttons li div.search-button:hover {
  color: #fff;
  background-color: #ff804f;
}

#filters .filter-buttons li div.search-button.active {
  color: #fff;
  background-color: #ff804f;
}

@media (max-width: 575px) {
  #filters .filter-buttons li div.search-button {
    margin: 10px;
  }
}

#filters .filter-buttons li div.search-button.borough {
  border-radius: .15rem;
  color: #333;
  font-weight: 300;
}


#filters .filter-buttons li div.search-button.borough:hover {
  color: #fff;
}

#filters .filter-buttons li div.search-button.borough.active {
  color: #fff;
}

#filters .filter-buttons li div.search-button.citywide {
  background-color: rgba(255, 179, 71, 0.25);
  border: 2px solid rgba(255, 179, 71, 0.25);
  color: rgb(225, 149, 41);
}

#filters .filter-buttons li div.search-button.citywide:hover {
  background-color: rgba(255, 179, 71, 1);
}


#filters .filter-buttons li div.search-button.citywide.active {
  background-color: rgba(255, 179, 71, 1);
}

#filters .filter-buttons li div.search-button.statewide {
  background-color: rgba(0, 119, 200, 0.25);
  border: 2px solid rgba(0, 119, 200, 0.25);
  color: rgb(0, 89, 170);
}

#filters .filter-buttons li div.search-button.statewide:hover {
  background-color: rgba(0, 119, 200, 1);
}

#filters .filter-buttons li div.search-button.statewide.active {
  background-color: rgba(0, 119, 200, 1);
}

#filters .filter-buttons li div.search-button.bronx {
  background-color: rgba(245, 199, 184, 0.25);
  border: 2px solid rgba(245, 199, 184, 0.25);
  color: rgb(215, 139, 124);
}

#filters .filter-buttons li div.search-button.bronx:hover {
  background-color: rgba(245, 199, 184, 1);
}

#filters .filter-buttons li div.search-button.bronx.active {
  background-color: rgba(245, 199, 184, 1);
}

#filters .filter-buttons li div.search-button.brooklyn {
  background-color: rgba(147, 230, 180, 0.25);
  border: 2px solid rgba(147, 230, 180, 0.25);
  color: rgb(117, 200, 150);
}

#filters .filter-buttons li div.search-button.brooklyn:hover {
  background-color: rgba(147, 230, 180, 1.0);
}

#filters .filter-buttons li div.search-button.brooklyn.active {
  background-color: rgba(147, 230, 180, 1.0);
}

#filters .filter-buttons li div.search-button.manhattan {
  background-color: rgba(0, 200, 238, 0.25);
  border: 2px solid rgba(0, 200, 238, 0.25);
  color: rgb(0, 170, 208);
}

#filters .filter-buttons li div.search-button.manhattan:hover {
  background-color: rgba(0, 200, 238, 1.0);
}

#filters .filter-buttons li div.search-button.manhattan.active {
  background-color: rgba(0, 200, 238, 1.0);
}

#filters .filter-buttons li div.search-button.queens {
  background-color: rgba(243, 234, 161, 0.25);
  border: 2px solid rgba(243, 234, 161, 0.25);
  color: rgb(153, 144, 71);
}

#filters .filter-buttons li div.search-button.queens:hover {
  background-color: rgba(223, 214, 141, 1.0);
  border: 2px solid rgba(223, 214, 141, 1.0);
}

#filters .filter-buttons li div.search-button.queens.active {
  background-color: rgba(223, 214, 141, 1.0);
  border: 2px solid rgba(223, 214, 141, 1.0);
}

#filters .filter-buttons li div.search-button.staten-island {
  background-color: rgba(218, 197, 208, 0.25);
  border: 2px solid rgba(218, 197, 208, 0.25);
  color: rgb(158, 137, 148);
}

#filters .filter-buttons li div.search-button.staten-island:hover {
  background-color: rgba(218, 197, 208, 1.0);
}

#filters .filter-buttons li div.search-button.staten-island.active {
  background-color: rgba(218, 197, 208, 1.0);
}





.sign-all {
  margin: 0 0 30px;
}

.sign-all button {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.results-header p {
  padding: 0 15px;
  margin: 1rem 0;
  text-align: center;
  font-size: 16pt;
}

.results-header p span.search-term {
  font-weight: bold;
}

/*.card {
  border: 2px solid $transalt-orange;
  border-radius: 10px;
  margin: 10px;
}*/

/*.card {
  border: none;
  margin-bottom: 15px;
}
*/
.card {
  margin: 0 0 1rem;
}


.card .campaign.already-signed {
  color: #999;
}

.card .campaign.already-signed a {
  color: rgba(0, 123, 255, 0.5);
}


.card .campaign .campaign-details div.col.sign {
  cursor: pointer;
}

.card .campaign .campaign-details div.col.to-be-signed {
  cursor: pointer;
}

.card .campaign .campaign-details div.col.citywide {
  background-color: rgba(255, 179, 71, 0.25);
}

.card .campaign .campaign-details div.col.statewide {
  background-color: rgba(0, 119, 200, 0.25);
}

.card .campaign .campaign-details div.col.bronx {
  background-color: rgba(245, 199, 184, 0.25);
}

.card .campaign .campaign-details div.col.brooklyn {
  background-color: rgba(147, 230, 180, 0.25);
}

.card .campaign .campaign-details div.col.manhattan {
  background-color: rgba(0, 200, 238, 0.25);
}

.card .campaign .campaign-details div.col.queens {
  background-color: rgba(243, 234, 161, 0.25);
}

.card .campaign .campaign-details div.col.staten-island {
  background-color: rgba(218, 197, 208, 0.25);
}


.card .campaign .campaign-details div.col.sign.citywide {
  background-color: rgba(255, 179, 71, 0.5);
}

.card .campaign .campaign-details div.col.sign.statewide {
  background-color: rgba(0, 119, 200, 0.5);
}

.card .campaign .campaign-details div.col.sign.bronx {
  background-color: rgba(245, 199, 184, 0.5);
}

.card .campaign .campaign-details div.col.sign.brooklyn {
  background-color: rgba(147, 230, 180, 0.5);
}

.card .campaign .campaign-details div.col.sign.manhattan {
  background-color: rgba(0, 200, 238, 0.5);
}

.card .campaign .campaign-details div.col.sign.queens {
  background-color: rgba(243, 234, 161, 0.5);
}

.card .campaign .campaign-details div.col.sign.staten-island {
  background-color: rgba(218, 197, 208, 0.5);
}


.card .campaign .campaign-details div.col.to-be-signed.citywide {
  background-color: rgba(255, 179, 71, 1.0);
}

.card .campaign .campaign-details div.col.to-be-signed.statewide {
  background-color: rgba(0, 119, 200, 1.0);
}

.card .campaign .campaign-details div.col.to-be-signed.bronx {
  background-color: rgba(245, 199, 184, 1.0);
}

.card .campaign .campaign-details div.col.to-be-signed.brooklyn {
  background-color: rgba(147, 230, 180, 1.0);
}

.card .campaign .campaign-details div.col.to-be-signed.manhattan {
  background-color: rgba(0, 200, 238, 1.0);
}

.card .campaign .campaign-details div.col.to-be-signed.queens {
  background-color: rgba(243, 234, 161, 1.0);
}

.card .campaign .campaign-details div.col.to-be-signed.staten-island {
  background-color: rgba(218, 197, 208, 1.0);
}


.card .campaign.already-signed .campaign-details div.col.already-signed {
  background-color: #ccc;
}



/*.card .campaign .campaign-details div.sign {
  background-color: #000;
  color: #fff;
  font-size: 13pt;
}*/

.card .campaign .campaign-details span.borough {
  color: #212529;
  font-weight: 300;
  font-size: 14pt;
}



.card .campaign .campaign-name {
  /*text-align: center;*/
}

.card .campaign .campaign-details {
  margin: 0;
}

.card .campaign .campaign-details p {
  margin: 0;
}


.card .campaign li.success-list-item {
  background-color: #e9632d;
  color: #fff;
}


.card .campaign li.campaign-starter-list-item span.starter {
  font-weight: bold;
}

// .card .campaign li.social-media-list-item i {
//   position: relative;
//   /* Adjust these values accordingly */
//   top: 5px;
//   left: 5px;
// }

.card .campaign li.social-media-list-item i.fa.fa-facebook-square {
  color: #29487d;
}

.card .campaign li.social-media-list-item i.fa.fa-twitter-square {
  color: #1da1f2;
}


.card .campaign li.description-list-item.d-block {
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}


.card .campaign li.signatures-list-item .progress {
  margin-top: 0.5rem;
}

.card .campaign .card-text:last-child {
  margin: 0 0 5px;
}

@media (min-width: 576px) {
  .card .campaign .card-text:last-child {
    margin: 0;
  }
}

/*@media (min-width: 768px) {
  .card .campaign .card-text:last-child {
    margin: 0 0 10px;
  }
}*/




/*.campaign-collection.panel {
  margin: 5px 0;
}

.campaign-collection.panel .panel-heading {
  background-color: transparent;
  border: 2px solid #ff4500;
  border-radius: 3px;
  color: #ff4500;
}

.campaign-collection.panel .panel-heading:hover {
  background-color: #ff4500;
  color: #fff;
}

.campaign-collection.panel .panel-heading .panel-title {
  padding: 10px;
}

.campaign-collection.panel .panel-heading .panel-title h3 {
  color: #ff4500;
}

.campaign-collection.panel .panel-heading .panel-title h3:hover {
  color: #ffffff;
}*/


.all-campaigns-body {
  background-color: #f3f2f1;
}

.campaign-list {
  margin: 20px 0 35px;
  padding: 0;
}

.campaign-list.matching {
  border-bottom: 2px solid #333;
}

.campaign-list.not-matching .campaign {
  background-color: #e9e9e9;
}

.campaign-list.not-matching .campaign ul.campaign-details li.list-group-item {
  background-color: #e9e9e9;
}

.campaign-list.not-matching .campaign ul.campaign-details li.success-list-item {
  color: #000;
}




span.sans {
  display: block;
  // font-family: 'Open Sans', sans-serif;
}

li.list-group-item.no-padding {
  padding: 0;
}

li.list-group-item.no-padding div.row {
  margin: 0;
  text-align: center;
}

li.list-group-item.no-padding div.col {
  padding: 0.75rem 1.25rem;
}

li.list-group-item.no-padding div.col:first-child {
  border-right: 1px solid #ddd;
}



span.twitter-typeahead .tt-menu {
  cursor: pointer;
}

.dropdown-menu, span.twitter-typeahead .tt-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 1rem;
  color: #373a3c;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  width: 100%;}

span.twitter-typeahead .tt-suggestion {
  display: block;
  width: 100%;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.5;
  color: #373a3c;
  text-align: inherit;
  white-space: nowrap;
  background: none;
  border: 0;
  text-overflow: ellipsis;
  overflow: hidden;}
span.twitter-typeahead .tt-suggestion strong.tt-highlight {
  /*font-weight: normal*/
};
span.twitter-typeahead .tt-suggestion:focus, .dropdown-item:hover, span.twitter-typeahead .tt-suggestion:hover {
    color: #2b2d2f;
    text-decoration: none;
    background-color: #f5f5f5; }
span.twitter-typeahead .active.tt-suggestion, span.twitter-typeahead .tt-suggestion.tt-cursor, span.twitter-typeahead .active.tt-suggestion:focus, span.twitter-typeahead .tt-suggestion.tt-cursor:focus, span.twitter-typeahead .active.tt-suggestion:hover, span.twitter-typeahead .tt-suggestion.tt-cursor:hover {
    color: #fff;
    text-decoration: none;
    background-color: #0275d8;
    outline: 0; }
span.twitter-typeahead .disabled.tt-suggestion, span.twitter-typeahead .disabled.tt-suggestion:focus, span.twitter-typeahead .disabled.tt-suggestion:hover {
    color: #818a91; }
span.twitter-typeahead .disabled.tt-suggestion:focus, span.twitter-typeahead .disabled.tt-suggestion:hover {
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent;
    background-image: none;
    filter: "progid:DXImageTransform.Microsoft.gradient(enabled = false)"; }
span.twitter-typeahead {
  background-color: #fff;
  width: 100%; }
  .input-group span.twitter-typeahead {
    display: block !important; }
    .input-group span.twitter-typeahead .tt-menu {
      top: 2.375rem !important; }
span.twitter-typeahead .tt-header {
  /*padding: 3px 20px;*/
  font-weight: 600;
  margin: 0 20px 5px 20px;
  padding: 3px 0;
  border-bottom: 1px solid #ccc;
}

@media (max-width: 480px) {
  span.twitter-typeahead .tt-suggestion {
    text-overflow: initial;
    white-space: normal;
    word-wrap: break-word;
  }
}






