h1.region-name {
  background-color: #f3f2f1;
  margin: 0;
  padding: 0.5rem;
  text-align: center;
}

#home-page-header {
  background-color: #f3f2f1;
}

#home-page-header .container {
  background-color: #f3f2f1;
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}