#review-page-header {
  text-align: center;
}

#review-page-header #directions {
  margin: 0 0 30px;
}

#review-page-header #encouragement span.uh-oh {
  font-weight: 600;
}

#review-page-header #sign-more {
  color: #ff4500;
  font-weight: 600;
  text-decoration: none;
}


.signing-page-body {
  background-color: #f3f2f1;
}


@media (max-width: 575px) {
  .campaigns-to-sign:after {
    content: '';
    width: 90%;
    height: 1px;
    background-color: #333;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -6px;
    margin: 0 auto;
  }
}

@media (min-width: 576px) {
  .campaigns-to-sign {
    border-right: 1px solid #333;
  }
}




