
#thank-you-page-header {
  text-align: center;
}

#thank-you-page-header #directions {
  margin: 2rem 0;
}

#thank-you-page-header #sign-more {
  color: #ff4500;
  font-weight: 600;
  text-decoration: none;
}

.thank-you-page-body {
  background-color: #f3f2f1;
}

.balloon {
  display:inline-block;
  width: 7.5rem;
  height: 9rem;
  background: hsl(215, 50%, 65%);
  border-radius: 80%;
  position: relative;
  box-shadow:inset -.75rem -.75rem 0 rgba(0,0,0,0.07);
  margin: 1.25rem 2rem;
  transition: transform 0.5s ease;
  z-index: 10;
  animation: balloons 4s ease-in-out infinite;
  transform-origin: bottom center;
}

.balloon p {
  color: white;
  position: relative;
  top: 43%;
}

@keyframes balloons {
  0%,100%{ transform:translateY(0) rotate(-4deg); }
  50%{ transform:translateY(-1.5rem) rotate(4deg); }
}


.balloon:before {
  content:"▲";
  font-size: 1.25rem;
  color: hsl(215,30%,50%);
  display: block;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: -.75rem;
  z-index: -100;
}

.balloon:after {
  display:inline-block; top: 9.5rem;
  position: absolute;
  height: 3rem;
  width: 1px;
  margin: 0 auto;
  content: "";
  background: rgba(0,0,0,0.2);
}

.balloon:nth-child(2){ background:hsl(245,40%,65%); animation-duration:3.5s; }
.balloon:nth-child(2):before { color:hsl(245,40%,65%);  }

.balloon:nth-child(3){ background:hsl(139,50%,60%); animation-duration:3s; }
.balloon:nth-child(3):before { color:hsl(139,30%,50%);  }

.balloon:nth-child(4){ background:hsl(59,50%,58%); animation-duration:4.5s; }
.balloon:nth-child(4):before { color:hsl(59,30%,52%);  }

.balloon:nth-child(5){ background:hsl(23,55%,57%); animation-duration:5s; }
.balloon:nth-child(5):before { color:hsl(23,44%,46%);  }

@media (max-width: 1024px) {
  .balloon:nth-child(5){ display: none; }
}

@media (max-width: 800px) {
  .balloon:nth-child(4){ display: none; }
}

@media (max-width: 576px) {
  .balloon:nth-child(3){ display: none; }
}

@media (max-width: 380px) {
  .balloon:nth-child(2){ display: none; }
}

