#user-info-form {
  // background-color: #eee;
  margin: 30px 15px;
}

#user-info-form #instructions {
  text-align: center;
}

#user-info-form #user-details #form-fields {
  margin: 10px 0;
}

#user-info-form #user-details #form-fields .form-group label {
  // margin-bottom: 4px;
}

#user-info-form #user-details #form-fields .form-group small {
  color: #868e96;
}

#user-info-form #user-details #submit-form-button i {
  display: none;
}