%div#fields_container
  %div.user-fields
    %select#title
      %option{value: 'Ms.'}
        Ms.
      %option{value: 'Miss'}
        Miss
      %option{value: 'Mrs.'}
        Mrs.
      %option{value: 'Mr.'}
        Mr.
      %option{value: 'Dr.'}
        Dr.
  %div.user-fields
    %input#first_name
  %div.user-fields
    %input#last_name
  %div.user-fields
    %input#address
  %div.user-fields
    %input#city
  %div.user-fields
    %input#state
  %div.user-fields
    %input#zip
  %div.user-fields
    %input#phone
  %div.user-fields
    %input#email
