%main
  %div.acknowledgments-page-body
    %div.acknowledgments-page-container.container
      %div.row.justify-content-center
        %div.col
          %h3
            Special thanks to:
          %ul#thanks.zmdi-hc-ul
            %li
              %i.zmdi-hc-li.zmdi.zmdi-dot-circle-alt{'aria-hidden' => 'true'}
              %a{href: 'https://twitter.com/dianavilibert', 'aria-label' => 'Link to Diana Vilibert\'s homepage'}
                Diana Vilibert
              %span{'aria-hidden' => 'true'}
                for copy

            %li
              %i.zmdi-hc-li.zmdi.zmdi-dot-circle-alt{'aria-hidden' => 'true'}
              The staff and volunteers of
              %a{href: 'https://transalt.org', 'aria-label' => 'Link to Transportation Alternatives\' homepage'}
                Transportation Alternatives
              %span{'aria-hidden' => 'true'}
                for their indispensible work to make New York City's streets safe

            %li
              %i.zmdi-hc-li.zmdi.zmdi-dot-circle-alt{'aria-hidden' => 'true'}
              %a{href: 'https://twitter.com/zavoloklom', 'aria-label' => 'Link to Sergey Kupletsky\'s homepage'}
                Sergey Kupletsky
              %span{'aria-hidden' => 'true'}
                for
              %a{href: 'http://zavoloklom.github.io/material-design-iconic-font', 'aria-label' => 'Link to Material Design Iconic Font homepage'}
                Material Design Iconic Font icons

            %li
              %i.zmdi-hc-li.zmdi.zmdi-dot-circle-alt{'aria-hidden' => 'true'}
              %a{href: 'https://twitter.com/davegandy', 'aria-label' => 'Link to Dave Gandy\'s homepage'}
                Dave Gandy
              %span{'aria-hidden' => 'true'}
                for
              %a{href: 'http://fontawesome.io/', 'aria-label' => 'Link to Font Awesome homepage'}
                Font Awesome

            %li
              %i.zmdi-hc-li.zmdi.zmdi-dot-circle-alt{'aria-hidden' => 'true'}
              %a{href: 'https://codepen.io/JeffreyTaylor', 'aria-label' => 'Link to Jeffrey Taylor\'s homepage'}
                Jeffrey Taylor
              %span{'aria-hidden' => 'true'}
                for
              %a{href: 'https://codepen.io/JeffreyTaylor/pen/jzohC', 'aria-label' => 'Link to balloon animation code snippet'}
                the balloon animation

            %li
              %i.zmdi-hc-li.zmdi.zmdi-dot-circle-alt{'aria-hidden' => 'true'}
              %a{href: 'http://twitter.github.io/typeahead.js/', 'aria-label' => 'Link to typeahead.js homepage'}
                typeahead.js

            %li
              %i.zmdi-hc-li.zmdi.zmdi-dot-circle-alt{'aria-hidden' => 'true'}
              %a{href: 'https://github.com/js-cookie/js-cookie', 'aria-label' => 'Link to js-cookie homepage'}
                js-cookie




  / = render partial: 'layouts/footer'