%main
  %div.acknowledgments-page-body
    %div.acknowledgments-page-container.container
      %div.row.justify-content-center
        %div.col
          %h3
            Special thanks to:
          %ul#thanks.zmdi-hc-ul
            %li
              %i.zmdi-hc-li.zmdi.zmdi-dot-circle-alt
              %a{href: 'https://twitter.com/dianavilibert'}
                Diana Vilibert
              for copy

            %li
              %i.zmdi-hc-li.zmdi.zmdi-dot-circle-alt
              %a{href: 'https://twitter.com/zavoloklom'}
                Sergey Kupletsky
              for
              %a{href: 'http://zavoloklom.github.io/material-design-iconic-font'}
                Material Design Iconic Font icons

            %li
              %i.zmdi-hc-li.zmdi.zmdi-dot-circle-alt
              %a{href: 'https://twitter.com/davegandy'}
                Dave Gandy
              for
              %a{href: 'http://fontawesome.io/'}
                Font Awesome

            %li
              %i.zmdi-hc-li.zmdi.zmdi-dot-circle-alt
              %a{href: 'https://codepen.io/JeffreyTaylor'}
                Jeffrey Taylor
              for
              %a{href: 'https://codepen.io/JeffreyTaylor/pen/jzohC'}
                the balloon animation

            %li
              %i.zmdi-hc-li.zmdi.zmdi-dot-circle-alt
              %a{href: 'http://twitter.github.io/typeahead.js/'}
                typeahead.js

            %li
              %i.zmdi-hc-li.zmdi.zmdi-dot-circle-alt
              %a{href: 'https://github.com/js-cookie/js-cookie'}
                js-cookie




  = render partial: 'layouts/footer'