%svg{'version' => '1.1', 'id'=> 'category-icons', 'xmlns'='http://www.w3.org/2000/svg', 'xmlns:xlink' => 'http://www.w3.org/1999/xlink', 'style' => 'display:none'}
   %symbol{'id' => 'bronx', 'viewBox' => '0 0 130 130'}
      /insert svg code here

   %symbol{'id' => 'brooklyn', 'viewBox' => '0 0 130 130'}
      /insert svg code here

   %symbol{'id' => 'piggybank', 'viewBox' => '0 0 130 130'}
      //insert svg code here

   %symbol{'id' => 'lifestyle', 'viewBox' => '0 0 130 130'}
      //insert svg code here
