%main
  %div.header#page_header
    %h1.title
      Transportation Alternatives Campaigns

    %div.container
      %div.row
        %div.col-lg-12
          %div#filters
            %div.input-group
              %span#search_exp.input-group-addon
                Search
              %input.form-control.typeahead{"aria-describedby" => "search_exp", placeholder: "ex: bike lanes, cameras, Queens", type: "text"}
            %ul.filter-buttons
              %div.row
                %li.col.filter-button
                  %i.fa.fa-bicycle
                  %span.sans
                    Cycling
                %li.col.filter-button
                  %i.fa.fa-female
                  %span.sans
                    Walking
                %li.col.filter-button
                  %i.fa.fa-bus
                  %span.sans
                    Transit
                %li.col.filter-button
                  %i.fa.fa-graduation-cap
                  %span.sans
                    Schools

  %div.all-campaigns-body#main_content
    %div.container
      %div.row
        %div.col-lg-12
          %div.row.campaign-list.matching
            - @campaigns.each do |cp|
              = render partial: 'campaign', locals: {campaign: cp}

  %div.footer{style: "display: #{@campaigns_to_sign.empty? ? 'none' : 'block'}"}
    %div.footer-text
      Sign
      %span.num-campaigns
        one campaign!


  / %div#thingie_container
  /   = render "user_fields"














