%main
  %div.privacy-page-body
    %div.privacy-page-container.container
      %div.row.justify-content-center
        %div.col
          %div.jumbotron
            %h1#privacy
              Privacy is
              %span.very
                very
              important.
            %h3
              (So we don't store your data.)
            %p.lead
              This site uses cookies stored in your browser to keep track of the campaigns you've signed and your info for filling them out.
            %hr/
            %p
              If you don't want this data stored at all, that's fine. Just clear your cookies.


  = render partial: 'layouts/footer'