%main
  %div.header#review-page-header
    %div.container
      %div.row
        %div.col-lg-12
          %div#directions
            %h1#encouragement
              %span.uh-oh
                Uh oh!
              That didn't work.
            %h5#ps
              (Don't worry! Just try again.)


  = render partial: 'signing_panel'

  = render partial: 'layouts/footer'